.custom-homepage{
    background-color: #F5F5F5;
    padding-bottom: 1.6666667vw;
    @media (max-width: 610) {
        padding-bottom: 2.6666667vw;
    }
}
.custom-homepage-wrapper{
    background-color: #F5F5F5;
}
.category-homepage-wrapper{
    padding-bottom: 1em;
    background-color: #F5F5F5;
    @media screen and (min-width: 768px) {
        padding-top: 4em;
    }
    .category-wapper {
        margin: 0px auto;
        .b-sub {
            background: #fff;
            color: #252a2e;
            font-size: 3vw;
            height: 10vw;
            overflow: hidden;
            padding: 0 4vw;
            position: relative;
            &:after {
                background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
                bottom: 0;
                content: "";
                pointer-events: none;
                position: absolute;
                right: 0;
                top: 0;
                width: 40vw;
                @media (min-width: 768px){
                    width: 250px;
                }
            }
            .b-sub__items-0 {
                overflow-x: auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                -webkit-transform: translateZ(0);
                display: flex;
                font-weight: 700;
                height: 200%;
                line-height: 10vw;
                text-transform: uppercase;
                white-space: nowrap;
                list-style-type: none;
                padding: 0;
                margin: 0;
                @media (min-width: 768px){
                    line-height: 45px;
                }
                a[href="#!"] {
                    color: #0095da;
                    pointer-events: none;
                    text-decoration: none;
                    text-transform: none;
                }
                a{color: inherit}

            }
            @media (min-width: 768px){
                font-size: 14px;
                height: 45px;
                padding: 0 20px;
            }
        }
        .b-sub__item-0:not(:first-child) {
            margin-left: 5.3333333vw;
            @media (min-width: 768px){
                margin-left: 32px;
            }
        }
    }
}


.homepage-featured-topics {
    #main-outlet {
        padding-top: 1.5em;

        @media screen and (max-width: 450px) {
            padding-top: 0.5em;
        }
    }
}

body:not(.staff) {
    .tag-drop li[data-name="#{$featured-tag}"],
    [data-tag-name="#{$featured-tag}"] {
        display: none;
    }
}

.featured-topic-wrapper {
    margin-top: 1em;
    text-align: left;
    position: relative;
    min-height: 350px;

    .spinner {
        position: absolute;
        left: 0;
        right: 0;
        top: 125px;
        @media screen and (max-width: 450px) {
          top: 70px;
        }
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        border-bottom: 1px solid $primary-low;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
        @media (min-width: 768px){
            border-bottom: 0;
            margin-bottom: 0;
        }
    }

    .featured-topics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 140px 140px 140px;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-row-gap: 10px;
        }

        .featured-topic {
            display: flex;
            flex-wrap: wrap;
            background: rgba(255, 255, 255, 0.893229);
            box-shadow: 0px 10px 40px rgba(39, 52, 125, 0.12);
            -webkit-box-shadow: 0px 10px 40px rgba(39, 52, 125, 0.12);
            -moz-box-shadow: 0px 10px 40px rgba(39, 52, 125, 0.12);
            border-radius: 8px;
            -webkit-border-radius: 8px;
            position: relative;
            overflow: hidden;


            @media screen and (min-width: 650px) {
                &:first-of-type:not(:last-of-type) {
                    min-height: 450px;
                    line-height: 24px;
                    grid-row: 1 /span 3;
                    border-radius: 0 0 12px 12px;

                    .featured-topic-image {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                        width: 100%;
                        height: 335px;
                        border-radius: 0;
                    }

                    .featured-topic-meta {
                        padding: 10px 20px 0px 30px;
                        color: #0C0033;

                        h3.featured-topic-title {
                            font-size: $font-up-2;
                            font-weight: 500;
                        }
                    }
                }

                &:last-of-type:not(:first-of-type) {}
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                border-radius: 0;

                .featured-topic-image {
                    border-radius: 0;
                }
            }

            @media screen and (max-width: 450px) {
                width: 100%;
            }

            .featured-topic-meta {
                flex-basis: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                padding: 10px 56px 0 30px;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #252525;


                h3.featured-topic-title {
                    font-size: $font-up-1;
                    line-height: 22px;
                    word-break: break-word;
                    padding-bottom: 10px;
                    margin-bottom: 0;

                    a {
                        color: #0c0033;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-wrap: break-word;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    @media screen and (max-width: 450px) {}
                }

                @media screen and (max-width: 768px) {
                    padding: 10px 15px 0 15px;
                }

            }

            .featured-topic-image {
                position: relative;
                overflow: hidden;
                font-size: 0%;
                line-height: 0%;
                flex-basis: 0;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
                border-radius: 12px 0 0px 12px;
                -webkit-border-radius: 12px 0 0px 12px;
                -moz-border-radius: 12px 0 0px 12px;
                width: 100%;
                height: 140px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                @media screen and (max-width: 768px) {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                    height: 120px;
                    border-radius: 0;
                }
                img.featured-topic-thumbnail{
                    height: 100%;
                    left: 0;
                    -o-object-fit: cover;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
    }
}
.latest-topic-wrapper {
    margin-top: 2.6666667vw;
    max-width: 1110px;
    @media (max-width: 610) {
        margin-top: 2.6666667vw;
    }   
}

img.dt-lazy-loaded {
    opacity: 1;
    transition: opacity .7s cubic-bezier(.465, .183, .153, .946);
}

.b-grid {

    a {
        color: inherit;
        text-decoration: none;
    }

    >* {
        max-width: 100vw;
    }
}

.b-brief {
    background: currentColor;
    color: #fff;
    display: flex;
    position: relative;
}

.b-meta {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 3vw;
    padding: 2.9333333vw 4vw 1.6vw;

    a {
        text-decoration: none;
    }
}

.b-meta__title.dt-clamp-2 {
    max-height: 2.6206897em;
}

.b-meta__title.dt-clamp-3 {
    max-height: 3.9310345em;
}

.b-meta__title {
    font-size: 3.8666667vw;
    line-height: 1.3103448;
    font-weight: inherit;
}

.dt-clamp {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dt-clamp-3 {
    -webkit-line-clamp: 3;
}

.dt-clamp-2 {
    -webkit-line-clamp: 2;
}

.b-brief {
    a {
        position: relative;
        text-decoration: none;
        z-index: 2;
    }

    &>* {
        color: #252a40;
    }
    &:nth-child(2n+1){
        background-color: white;
        .b-meta.is-color {
            color: #252a40;
        }
    }

}

.b-brief__hot {
    a {
        position: static;

        &:after {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}


.b-meta {
    &.is-color {
        color: #fff;
    }

    a {
        text-decoration: none;
    }
}


.b-meta__text .b-meta__text {
    line-height: 1.2592593;
    margin-top: 1.4074074em;

    &.dt-clamp-3 {
        max-height: 3.7777778em;
    }
}

.b-meta__byline,
.b-meta__labels {
    align-items: flex-end;
    display: flex;
    flex: 1;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.2592593;
    margin-top: 1.4074074em;
    opacity: .4;
}

.b-brief__image {
    background: rgba(0, 0, 0, .1);
    position: relative;
    width: 38.6666667%;

    img {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }
}

.b-brief__badge,
.b-brief__image img {
    position: absolute;
    top: 0;
}


.b-snippet {

    background: currentColor;
    color: #fff;
    display: flex;
    position: relative;

    a {
        position: relative;
        text-decoration: none;
        z-index: 2;
    }

    &>* {
        color: #252a40;
    }

    .b-snippet__hot {
        position: static;

        &:after {
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }
}

.b-snippet__meta {
    order: 1;
}


.b-snippet__image {
    background: rgba(0, 0, 0, .1);
    position: relative;
    width: 21.3333333%;

    &:before {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media (max-width: 610px) {
    .b-grid>:not(:first-child) {
        margin-top: 2.6666667vw;
    }
}

@media (min-width: 768px) {

    .b-grid {
        display: grid;
        grid-auto-flow: dense;
        grid-auto-rows: minmax(55px, -webkit-max-content);
        grid-auto-rows: minmax(55px, max-content);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: repeat(auto-fill, 270px);
    }

    .b-grid__cols2,
    .b-grid__cols4 {
        grid-column-end: span 2;
    }

    .b-grid__rows4 {
        grid-row-start: span 4;
        height: 250px;
        min-height: 250px;
    }

    .b-brief {
        background: currentColor;
        color: #fff;
        display: flex;
        position: relative;
    }

    .b-meta {
        font-size: 15px;
        padding: 20px 20px 15px;
    }

    .b-meta__title {
        font-size: 19px;
        line-height: 1.2631579;
    }

    .b-meta__title.dt-clamp-2 {
        max-height: 2.5263158em;
    }

    .b-meta__title.dt-clamp-3 {
        max-height: 3.7894737em;
    }

    .b-meta__text {
        line-height: 1.2666667;

        .b-meta__text.dt-clamp-3 {
            max-height: 3.8em;
        }

        margin-top: 2.1333333em;
    }

    .b-meta__labels {
        line-height: 1.2666667;
        margin-top: 0;
    }

    .b-brief__image {
        width: 300px;
    }

    .b-snippet__image {
        width: 120px;
    }
}